@import "mixins";
@import "variables";

.main-header {
    @include main-header;
    @include justify-between;

    .button-group {
        @include horizontal-center;

        & > * {
            margin: 0 0.5rem;
        }

        .add-button {
            @include button-style($white, $light-gray);
        }

        .delete-button {
            @include button-style($white, $primary-color);
        }

        .save-button {
            @include button-style($white, $custom-blue);
        }

        .cancel-button {
            @include button-style($white, $light-gray);
        }
    }
}

.product-list__content {
    margin-top: 3rem;
    @include grid-template;

    .card {
        @include grid-item;
        text-align: center;

        .product-item__delete-checkbox {
            float: left;
        }
    }
}

.error-message {
    @include error-message;
}
