@import "mixins";
@import "variables";

* {
    @include font-family($font-family-base);
}

.main-header {
    @include main-header;
    @include justify-between;

    .button-group {
        @include horizontal-center;

        & > * {
            margin: 0 0.5rem;
        }

        .add-button {
            @include button-style($white, $light-gray);
        }

        .delete-button {
            @include button-style($white, $primary-color);
        }

        .save-button {
            @include button-style($white, $custom-blue);
        }

        .cancel-button {
            @include button-style($white, $light-gray);
        }
    }
}

.product-item {
    .product-item__delete-checkbox {
        display: flex;
        align-self: flex-start;
    }
}

.product-list__content {
    margin-top: 3rem;
    @include grid-template;

    .card {
        @include grid-item;
        text-align: center;

        .product-item__delete-checkbox {
            float: left;
        }
    }
}

.create-product-form {
    margin-top: 4rem;

    .switcher-type {
        h5 {
            @include for-phone-only {
                @include input-field(80%);
            }
            @include for-tablet-portrait-up {
                @include input-field(60%);
            }
            @include for-tablet-landscape-up {
                @include input-field(40%);
            }
        }
    }
}

.input-field,
.dropdown {
    @include for-phone-only {
        @include input-field(80%);
    }
    @include for-tablet-portrait-up {
        @include input-field(60%);
    }
    @include for-tablet-landscape-up {
        @include input-field(40%);
    }

    .input-field__input {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
            @include input-style;
        }

        .error-message {
            @include error-message;
        }
    }

    label {
        @include label-style;
    }

    select {
        @include input-style;
    }
}
