$font-family-base: sans-serif;

$primary-color: #e04f4f;
$secondary-color: #f1f3fa;
$dark: #11132c;
$light-gray: #9b9ca8;
$custom-blue: #3f4aaf;
$white: #fff;
$border-color: #eee;
$error-color: #fa3030;
$border-radius: 0.4rem;
